[submodule "code/vendor/minhook"]
	path = code/vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "code/vendor/imgui"]
	path = code/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "code/vendor/json"]
	path = code/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "code/vendor/StackWalker"]
	path = code/vendor/StackWalker
	url = https://github.com/JochenKalmbach/StackWalker.git
[submodule "code/vendor/ImGuiFileDialog"]
	path = code/vendor/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
	branch = Lib_Only
[submodule "code/vendor/kaitai_cpp"]
	path = code/vendor/kaitai_cpp
	url = https://github.com/kaitai-io/kaitai_struct_cpp_stl_runtime.git
[submodule "code/vendor/kaitai_definitions"]
	path = code/vendor/kaitai_definitions
	url = https://github.com/Gangsta-Team/kaitai.git
[submodule "code/vendor/stwiy-lib"]
	path = code/vendor/stwiy-lib
	url = https://github.com/Gangsta-Team/stwiy-lib.git
[submodule "code/vendor/kcp"]
	path = code/vendor/kcp
	url = https://github.com/skywind3000/kcp.git
[submodule "code/vendor/concurrentqueue"]
	path = code/vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
